.header-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: #007ad9;
  color: #ffffff;
}


.header-right {
  display: flex;
  align-items: center;
  gap: 10px;
}

.username {
  font-size: 14px;
  font-weight: 500;
  margin-right: 8px;
}

.p-dialog-footer {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.p-button-text {
  padding: 0.5rem 1rem;
  font-size: 1rem;
}

.buttons-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 2.5rem;
}

.p-button-text {
  font-size: 1rem;
}

.p-button .pi {
  margin-right: 0.5rem;
}