<div class="tasks-dashboard">
  <!-- Add New Task Button and Search Bar -->
  <div class="action-bar">
    <div class="add-task-container">
      <button
        pButton
        label="Add New Task"
        icon="pi pi-plus"
        class="p-button-primary"
        (click)="navigateToAddEditTask()"
      ></button>
    </div>

    <div class="search-bar">
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon"><i class="pi pi-search"></i></span>
        <input
          pInputText
          (keyup)="applyFilter($event)"
          placeholder="Search by name, description"
        />
      </div>
    </div>
  
    <!-- Filters -->
    <div class="filters">
      <p-dropdown
        [options]="priorities"
        placeholder="Filter by Priority"
        (onChange)="applyFilterByPriority($event.value)"
      ></p-dropdown>
      <p-dropdown
        [options]="statuses"
        placeholder="Filter by Status"
        (onChange)="applyFilterByStatus($event.value)"
      ></p-dropdown>
      <p-dropdown
        [options]="assignedUsers"
        placeholder="Filter by Assigned User"
        (onChange)="applyFilterByAssignedUser($event.value)"
      ></p-dropdown>
    </div>

  </div>

  <div class="task-columns">
    <!-- Pending Column -->
    <div class="task-column">
      <h3>Pending</h3>
      <div>
        <div *ngFor="let task of statusColumns.pending" class="task-card">
          <div class="task-card-content">
            <div (click)="viewTaskDetails(task)" class="task-info">
              <div class="task-header">
                <h4>{{ task?.name ? task.name : 'N/A' }}</h4>
                <!-- Priority Badge -->
                <span class="priority-badge priority-{{ task?.priority?.toLowerCase() }}">
                  {{ task?.priority }}
                </span>
              </div>
              <p>{{ task?.description ? task.description : 'N/A' }}</p>
              <span>Assigned to: {{ task?.assignedTo ? task.assignedTo : 'N/A' }}</span>
            </div>
            <div class="task-actions">
              <button
                pButton
                icon="pi pi-pencil"
                class="p-button-rounded p-button-info cursor-pointer margin-fix"
                (click)="navigateToAddEditTask(task)"
              ></button>
              <button
                pButton
                icon="pi pi-trash"
                class="p-button-danger p-button-rounded cursor-pointer"
                (click)="confirmDelete(task)"
              ></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <!-- In Progress Column -->
    <div class="task-column">
      <h3>In Progress</h3>
      <div>
        <div *ngFor="let task of statusColumns.inProgress" class="task-card">
          <div class="task-card-content">
            <div (click)="viewTaskDetails(task)" class="task-info">
              <div class="task-header">
                <h4>{{ task?.name ? task.name : 'N/A' }}</h4>
                <!-- Priority Badge -->
                <span class="priority-badge priority-{{ task?.priority?.toLowerCase() }}">
                  {{ task?.priority }}
                </span>
              </div>
              <p>{{ task?.description ? task.description : 'N/A' }}</p>
              <span>Assigned to: {{ task?.assignedTo ? task.assignedTo : 'N/A' }}</span>
            </div>
            <div class="task-actions">
              <button
                pButton
                icon="pi pi-pencil"
                class="p-button-rounded p-button-info cursor-pointer margin-fix"
                (click)="navigateToAddEditTask(task)"
              ></button>
              <button
                pButton
                icon="pi pi-trash"
                class="p-button-danger p-button-rounded cursor-pointer"
                (click)="confirmDelete(task)"
              ></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <!-- Completed Column -->
    <div class="task-column">
      <h3>Completed</h3>
      <div>
        <div *ngFor="let task of statusColumns.completed" class="task-card">
          <div class="task-card-content">
            <div (click)="viewTaskDetails(task)" class="task-info">
              <div class="task-header">
                <h4>{{ task?.name ? task.name : 'N/A' }}</h4>
                <!-- Priority Badge -->
                <span class="priority-badge priority-{{ task?.priority?.toLowerCase() }}">
                  {{ task?.priority }}
                </span>
              </div>
              <p>{{ task?.description ? task.description : 'N/A' }}</p>
              <span>Assigned to: {{ task?.assignedTo ? task.assignedTo : 'N/A' }}</span>
            </div>
            <div class="task-actions">
              <button
                pButton
                icon="pi pi-pencil"
                class="p-button-rounded p-button-info cursor-pointer margin-fix"
                (click)="navigateToAddEditTask(task)"
              ></button>
              <button
                pButton
                icon="pi pi-trash"
                class="p-button-danger p-button-rounded cursor-pointer"
                (click)="confirmDelete(task)"
              ></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
</div>

<app-task-details
  [task]="selectedTask"
  [visible]="taskDetailVisible"
  (visibleChange)="closeTaskDetails()"
></app-task-details>
<p-toast></p-toast>
<p-confirmDialog></p-confirmDialog>
