<div class="tasks-dashboard">
  <!-- Add New Task Button and Search Bar -->
  <div class="action-bar">
    <div class="add-task-container">
      <button pButton label="Add New Task" icon="pi pi-plus" class="p-button-primary cursor-pointer"
        (click)="navigateToAddEditTask()"></button>
    </div>

    <div class="search-bar">
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon"><i class="pi pi-search"></i></span>
        <input [(ngModel)]="searchValue" pInputText (keyup)="applyFilter()" placeholder="Search by name, description" />
      </div>
    </div>
    <button pButton label="Reset" icon="pi pi-refresh" class="p-button-secondary p-ml-2 reset-button cursor-pointer"
      (click)="resetFilters()"></button>

    <!-- Filters -->
    <div class="filters">
      <p-dropdown [options]="priorities" placeholder="Filter by Priority"
        (onChange)="applyFilterByPriority($event.value)"></p-dropdown>
      <p-dropdown [options]="statuses" placeholder="Filter by Status"
        (onChange)="applyFilterByStatus($event.value)"></p-dropdown>
      <p-dropdown [options]="assignedUsers" placeholder="Filter by Assigned User"
        (onChange)="applyFilterByAssignedUser($event.value)"></p-dropdown>
    </div>

  </div>

  <div class="task-columns">
    <!-- Pending Column -->
    <div class="task-column" pDroppable="true" (onDrop)="drop('pending')">
      <h3>Pending</h3>
      <div>
        <app-task-item pDraggable="true" *ngFor="let task of statusColumns.pending" [task]="task"
          (edit)="navigateToAddEditTask($event)" (delete)="confirmDelete($event)"
          (viewDetails)="viewTaskDetails($event)" pDraggable="true" (onDragStart)="dragStart(task)"
          (onDragEnd)="dragEnd()"></app-task-item>
      </div>
    </div>

    <!-- In Progress Column -->
    <div class="task-column" pDroppable="true" (onDrop)="drop('inProgress')">
      <h3>In Progress</h3>
      <div>
        <app-task-item pDraggable="true" (onDragStart)="dragStart(task)" (onDragEnd)="dragEnd()"
          *ngFor="let task of statusColumns.inProgress" [task]="task" (edit)="navigateToAddEditTask($event)"
          (delete)="confirmDelete($event)" (viewDetails)="viewTaskDetails($event)"></app-task-item>
      </div>
    </div>

    <!-- Completed Column -->
    <div class="task-column" pDroppable="true" (onDrop)="drop('completed')">
      <h3>Completed</h3>
      <div>
        <app-task-item pDraggable="true" (onDragStart)="dragStart(task)" (onDragEnd)="dragEnd()"
          *ngFor="let task of statusColumns.completed" [task]="task" (edit)="navigateToAddEditTask($event)"
          (delete)="confirmDelete($event)" (viewDetails)="viewTaskDetails($event)"></app-task-item>
      </div>
    </div>
  </div>


</div>

<app-task-details [task]="selectedTask" [visible]="taskDetailVisible"
  (visibleChange)="closeTaskDetails()"></app-task-details>
<p-toast></p-toast>
<p-confirmDialog></p-confirmDialog>